# .coveragerc to control coverage.py

[report]
# Regexes for lines to exclude from consideration
exclude_also =
    # Don't complain if non-runnable code isn't run
    if 0:
    if __name__ == .__main__.:
    # Don't complain about debug code
    if DEBUG:
    # Don't complain about compatibility code for missing optional dependencies
    except ImportError
    if TYPE_CHECKING:
    @abc.abstractmethod
    # Empty bodies in protocols or abstract methods
    ^\s*def [a-zA-Z0-9_]+\(.*\)(\s*->.*)?:\s*\.\.\.(\s*#.*)?$
    ^\s*\.\.\.(\s*#.*)?$

[run]
omit =
    Tests/32bit_segfault_check.py
    Tests/bench_cffi_access.py
    Tests/check_*.py
    Tests/createfontdatachunk.py
