# Byte-compiled / optimized / DLL files
__pycache__/
/*.py[cod]
/src/PIL/*.py[cod]
/Tests/*.py[cod]
/docs/*.py[cod]
/winbuild/*.py[cod]

# C extensions
/src/PIL/*.so

# Distribution / packaging
/build/
/dist/
/src/*.egg-info/
/env/
/.eggs/
.Python
develop-eggs/
eggs/
parts/
sdist/
.installed.cfg
*.egg

# Installer logs
pip-delete-this-directory.txt

# Unit test / coverage reports
/htmlcov/
/.tox/
/.coverage
/.cache
/.pytest_cache
/coverage.xml

# Extra test images installed from pillow-depends/test_images
/depends/test_images
/Tests/images/README.md
/Tests/images/msp
/Tests/images/picins
/Tests/images/sunraster

# Sphinx documentation
/docs/_build/


# Common ignores

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# viewdoc output
.long-description.html

# Vim cruft
.*.swp

#emacs
*~
\#*#
.#*

#Komodo
*.komodoproject

#OS
.DS_Store

# JetBrains
.idea
