include *.c
include *.h
include *.in
include *.md
include *.py
include *.rst
include *.sh
include *.txt
include *.yaml
include LICENSE
include Makefile
include tox.ini
graft Tests
graft src
graft depends
graft winbuild
graft docs

# build/src control detritus
exclude .appveyor.yml
exclude .clang-format
exclude .coveragerc
exclude .editorconfig
exclude .readthedocs.yml
exclude codecov.yml
global-exclude .git*
global-exclude *.pyc
global-exclude *.so
prune .ci
