# Development, documentation & testing requirements.
-e .
Babel
Jinja2
MarkupSafe
Pygments
Sphinx
alabaster
check-manifest
cov-core
coverage
coveralls
docopt
docutils
jarn.viewdoc
nose-cov
nose
pep8
pyflakes
pyroma
pytz
requests
six
snowballstemmer
sphinx-rtd-theme
