name: Lint

on: [push, pull_request, workflow_dispatch]

permissions: {}

env:
  FORCE_COLOR: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:

    runs-on: ubuntu-latest

    name: Lint

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: prek cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/prek
        key: lint-prek-${{ hashFiles('**/.pre-commit-config.yaml') }}
        restore-keys: |
          lint-prek-

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
        cache: pip
        cache-dependency-path: "setup.py"

    - name: Build system information
      run: python3 .github/workflows/system-info.py

    - name: Install dependencies
      run: |
        python3 -m pip install -U pip
        python3 -m pip install -U tox

    - name: Lint
      run: tox -e lint
      env:
        PREK_COLOR: always

    - name: Mypy
      run: tox -e mypy
