name: Test

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [
          "ubuntu-18.04",
          "macOS-10.14",
        ]
        python-version: [
          "pypy3",
          "3.7",
          "3.5",
          "3.6",
        ]
        include:
        - python-version: "3.5"
          env: PYTHONOPTIMIZE=2
        - python-version: "3.6"
          env: PYTHONOPTIMIZE=1
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Linux dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        .travis/install.sh

    - name: Install macOS dependencies
      if: startsWith(matrix.os, 'macOS')
      run: |
        .github/workflows/macos-install.sh

    - name: Build
      run: |
        .travis/build.sh

    - name: Test
      run: |
        .travis/test.sh

    - name: Docs
      if: matrix.python-version == 3.7
      run: |
        pip install sphinx-rtd-theme
        make doccheck

    - name: After success
      if: success()
      run: |
        .travis/after_success.sh
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
